<!DOCTYPE html>
<html lang="pt-br">
<head>

<!-- TikTok Pixel Code Start -->
<script>
    !function (w, d, t) {
      w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie","holdConsent","revokeConsent","grantConsent"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(
    var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++)ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var r="https://analytics.tiktok.com/i18n/pixel/events.js",o=n&&n.partner;ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=r,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};n=document.createElement("script")
    ;n.type="text/javascript",n.async=!0,n.src=r+"?sdkid="+e+"&lib="+t;e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(n,e)};
    
    
      ttq.load('CVKIPARC77U3HPMFLLQ0');
      ttq.page();
    }(window, document, 'ttq');
    </script>
    <!-- TikTok Pixel Code End -->

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3D3DCCBPKP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3D3DCCBPKP');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Jogos - {{ genre_name }}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">

</head>
<a href="https://t.me/pixelpricesales" class="telegram-float" target="_blank">
    <img src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Telegram_Messenger.png" alt="Telegram">
</a>

<a href="https://discord.gg/SzFDtPQFxj" class="discord-float" target="_blank">
    <img src="https://i.ibb.co/kgG3zj0B/bb-W4u80g7y-IVxsphv9di-Nw.png" alt="Discord">
</a>
<header>
    <h2><a href="/" class="home-button">Pixel Price</a></h2>

    <div class="botoes-centrais">
     <button id="botao-home-novo" onclick="window.location.href='/'">
        <h2>Home</h2>
     </button>
    


     <div class="dropdown">
        <button class="dropdown-btn">
            Gêneros <span class="triangle">&#9662;</span>
        </button>
        <ul class="dropdown-content">
            {% for genre in genres %}
                <li>
                    <a href="{{ url_for('genre', genre_name=genre) }}">{{ genre }}</a>
                </li>
            {% endfor %}
        </ul>
     </div>

     <button id="how-work" onclick="window.location.href='/how-work'">
        <h2>Como funciona?</h2>
     </button>
    
    
      <button id="about" onclick="window.location.href=href='/about'"><h2>Sobre</h2></button>

    </div>


    <form action="/search" method="get">
        <input type="text" name="query" placeholder="Busque um jogo..." required>
      <button type="submit" class="search-button">Buscar</button>
     </form>


    



</header>

<body>
    <h1> <strong>{{ genre_name }}</strong></h1>

<div class="coisas">

    <div class="games">
        {% if games %}
            {% for game in games %}
                <div class="game-2">
                    <a href="{{ url_for('pagina_jogo', game_id=game['id']) }}">
                        <img src="{{ game.image }}" alt="{{ game.name }} Image" />
                    </a>
                    <h3>{{ game.name }}</h3>
                    <p>Por apenas: <strong>{{ game.lowest_price|format_currency }}</strong></p>
                </div>
            {% endfor %}
        {% else %}
            <p>Não há jogos para este gênero.</p>
        {% endif %}
    </div>



</div>
<footer class="footer">
    <div class="footer-content">
        <div class="footer-section about">
            <h3>Sobre nós</h3>
            <p>O Pixel Price oferece as melhores ofertas em jogos digitais! Encontre chaves de jogos para Steam, com os preços mais baixos e promoções atualizadas. Nossa missão é ajudar você a economizar enquanto joga os melhores títulos.</p>
        </div>
        <div class="footer-section links">
            <h3>Links úteis</h3>
            <ul>
                <li><a href="#">Home</a></li>   

                <li><a href='{{ url_for('about') }}'>sobre</a></li>
                <li><a href='{{ url_for('how_work') }}'>Como funciona?</a></li>
            </ul>
        </div>
        <div class="footer-section social">
            <h3>Redes sociais</h3>
            <ul>
              <li><a href="https://www.instagram.com/pixel_price_br/">Instagram</a></li>   
              <li> <a href="https://t.me/pixelpricesales">Telegram</a></li>

              <li> <a href="https://www.youtube.com/@Pixel_Price">YouTube</a></li>
                <li><a href="https://www.tiktok.com/@pixel_price_br?_t=ZM-8uhvNLNG4N5&_r=1">Tik Tok</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 GamingHub | Todos os direitos reservados | Feito por brasileiros 🇧🇷</p>
    </div>
</footer>

</body>
</html>
