<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3D3DCCBPKP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3D3DCCBPKP');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ jogo.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <meta property="og:title" content="{{ jogo.name }} em promoção!">
    <meta property="og:description" content="Aproveite o desconto em {{ jogo.name }} e economize!">
    <meta property="og:image" content="{{ jogo.tumb }}">
    <meta property="og:url" content="https://www.pixelprice.com.br/jogo/{{ jogo.id }}">
    <meta property="og:type" content="website">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">


</head>
<a href="https://t.me/pixelpricesales" class="telegram-float" target="_blank">
    <img src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Telegram_Messenger.png" alt="Telegram">
</a>

<a href="https://discord.gg/SzFDtPQFxj" class="discord-float" target="_blank">
    <img src="https://i.ibb.co/kgG3zj0B/bb-W4u80g7y-IVxsphv9di-Nw.png" alt="Discord">
</a>
<body>

    <header>
        <h2><a href="/" class="home-button">Pixel Price</a></h2>
    
        <div class="botoes-centrais">
         <button id="botao-home-novo" onclick="window.location.href='/'">
            <h2>Home</h2>
         </button>
        
    
    
         <div class="dropdown">
            <button class="dropdown-btn">
                Gêneros <span class="triangle">&#9662;</span>
            </button>
            <ul class="dropdown-content">
                {% for genre in genres %}
                    <li>
                        <a href="{{ url_for('genre', genre_name=genre) }}">{{ genre }}</a>
                    </li>
                {% endfor %}
            </ul>
         </div>
    
         <button id="how-work" onclick="window.location.href='/how-work'">
            <h2>Como funciona?</h2>
         </button>
        
        
          <button id="about" onclick="window.location.href=href='/about'"><h2>Sobre</h2></button>
    
        </div>
    
    
        <form action="/search" method="get">
            <input type="text" name="query" placeholder="Busque um jogo..." required>
          <button type="submit" class="search-button">Buscar</button>
         </form>
    
    
        
    
    
    
        </header>

    <div class="game-container">


    <div class="game-tumb">
        <img src="{{ jogo.tumb }}" alt="{{ jogo.name }}">
    </div>

        <div class="game-content"> <!-- Novo contêiner para alinhar a imagem e os detalhes -->
                        

        
             <div class="game-image">
             <img src="{{ jogo.image }}" alt="{{ jogo.name }}">
             </div>
 
             <div class="detais-carousel">

             <div class="game-details">
              <h1>{{ jogo.name }}</h1>
              <h2><strong>Descrição:</strong> {{ jogo.description }}</h2>
              <p><strong>Gênero:</strong> {{ jogo.genres or 'Não disponível' }}</p>
              <p><strong>Data de Lançamento:</strong> {{ jogo.release_date }}</p>


            
            </div>

            <div class="carousel-container">
                <div class="carousel">
                    {% for img in jogo.images %}
                    <img src="{{ img }}" alt="Imagem adicional do jogo" loading="lazy">
                    {% else %}
                        <p>Não há imagens para exibir.</p>
                    {% endfor %}
                </div>
                <button class="carousel-button left">&#10094;</button>
                <button class="carousel-button right">&#10095;</button>
                <div class="carousel-indicators">
                    {% for _ in jogo.images %}
                        <span></span>
                    {% endfor %}
                </div>
            </div>
        </div>
 
         </div>  
     
        <div class="container-lojas">
            <div id="lojas-container">
                <div id="links" class="links">
                    {% if jogo.get('links') %}
                        {% for loja in jogo['links'] %}
                            {% if loja['price'] is not none %}  {# Verifica se há preço antes de renderizar o link #}
                                <div class="links-lojas {% if loop.index > 3 %}oculto{% endif %}">
                                    <a href="{{ loja['url'] }}" class="link-item" target="_blank">
                                        <img src="{{ store_icons[loja['store']] }}" alt="{{ loja['store'] }}" class="icon">
                                        <span class="preco">{{ loja['price']|format_currency }}</span>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p>Não há links de loja disponíveis para este jogo.</p>
                    {% endif %}
                </div>
                {% if jogo.get('links') and jogo['links']|selectattr('price', 'ne', none)|list|length > 3 %}
                    <button id="mostrar-tudo" class="mostrar-tudo" onclick="mostrarLinks()">
                        Mostrar tudo <span class="triangulo">▼</span>
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
        








    <div class="container-related">
        <h2 class="text-center">Jogos Relacionados</h2>
    
        <div class="swiper relatedSwiper">
            <div class="swiper-wrapper">
                {% for game in related_games %}
                    <div class="swiper-slide">
                        <div class="game">
                            <a href="/jogo/{{ game['id'] }}">
                                <img src="{{ game['image'] }}" class="card-img-top" alt="{{ game['name'] }}" loading="lazy">
                                <div class="card-body text-center">
                                    <h5 class="card-title">{{ game['name'] }}</h5>
                                    {% if game['lowest_price'] %}
                                        <p>Por apenas: <strong>{{ game['lowest_price']|format_currency }}</strong></p>
                                    {% else %}
                                        <p><strong>Preço indisponível</strong></p>
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                        
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var lazyImages = [].slice.call(document.querySelectorAll("img[data-src]"));
    
        if ("IntersectionObserver" in window) {
            let lazyImageObserver = new IntersectionObserver(function(entries, observer) {
                entries.forEach(function(entry) {
                    if (entry.isIntersecting) {
                        let lazyImage = entry.target;
                        lazyImage.src = lazyImage.dataset.src;
                        lazyImage.classList.remove("lazy");
                        lazyImageObserver.unobserve(lazyImage);
                    }
                });
            });
    
            lazyImages.forEach(function(lazyImage) {
                lazyImageObserver.observe(lazyImage);
            });
        } else {
            // Fallback para navegadores que não suportam IntersectionObserver
            lazyImages.forEach(function(lazyImage) {
                lazyImage.src = lazyImage.dataset.src;
            });
        }
    });
    </script>
                    </div>
                {% endfor %}
            </div>
    
            <div class="swiper-button-next related-next"></div>
            <div class="swiper-button-prev related-prev"></div>
            <div class="swiper-pagination related-pagination"></div>
        </div>
    </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>

    var swiperRelated = new Swiper(".relatedSwiper", {
        slidesPerView: 5, // Mostra 5 jogos por padrão
        slidesPerGroup: 5,
        spaceBetween: 20,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        loop: false,
        breakpoints: {
            // Quando a largura da tela é >= 1200px
            1200: {
                slidesPerView: 5,
                slidesPerGroup: 5
            },
            // Quando a largura da tela é >= 992px
            992: {
                slidesPerView: 4,
                slidesPerGroup: 4
            },
            // Quando a largura da tela é >= 768px
            768: {
                slidesPerView: 3,
                slidesPerGroup: 3
            },
            // Quando a largura da tela é >= 576px
            576: {
                slidesPerView: 2,
                slidesPerGroup: 2
            },
            // Quando a largura da tela é < 576px
            0: {
                slidesPerView: 1,
                slidesPerGroup: 1
            }
        }
    });


    </script>
    
    
    



    <!-- JavaScript para o carrossel -->
    <script>
        let currentIndex = 0;
        const images = document.querySelectorAll('.carousel-container img');
        const indicators = document.querySelectorAll('.carousel-indicators span');

        // Função para mostrar a imagem no índice dado
        function showImage(index) {
            // Remover a classe 'active' de todas as imagens e indicadores
            images.forEach(img => img.classList.remove('active'));
            indicators.forEach(indicator => indicator.classList.remove('active'));

            // Adicionar a classe 'active' à imagem e indicador corretos
            images[index].classList.add('active');
            indicators[index].classList.add('active');
        }

        // Função para exibir a próxima imagem
        function nextImage() {
            currentIndex = (currentIndex + 1) % images.length;
            showImage(currentIndex);
        }

        // Função para exibir a imagem anterior
        function prevImage() {
            currentIndex = (currentIndex - 1 + images.length) % images.length;
            showImage(currentIndex);
        }

        // Navegação pelos botões
        document.querySelector('.carousel-button.left').addEventListener('click', prevImage);
        document.querySelector('.carousel-button.right').addEventListener('click', nextImage);

        // Navegação pelos indicadores
        indicators.forEach((indicator, index) => {
            indicator.addEventListener('click', () => {
                currentIndex = index;
                showImage(currentIndex);
            });
        });

        // Inicializar a exibição da primeira imagem
        showImage(currentIndex);

        // Iniciar a troca automática de imagens a cada 3 segundos
        setInterval(nextImage, 3800);

        function mostrarLinks() {
            const links = document.querySelectorAll('.links-lojas');
            const mostrarTudoButton = document.getElementById('mostrar-tudo');

            let algumOculto = false;

            links.forEach((link, index) => {
                if (index >= 3) {
                    if (!link.classList.contains('mostrar')) {
                        // Adiciona a classe 'mostrar' para exibir com animação suave
                        link.classList.add('mostrar');
                        link.classList.remove('oculto');
                        algumOculto = true;
                    } else {
                        // Remove a classe 'mostrar' para ocultar com animação suave
                        link.classList.remove('mostrar');
                        link.classList.add('oculto');
                    }
                }
            });

            // Alterar o texto e a animação do botão
            mostrarTudoButton.classList.toggle("expanded", algumOculto);
            mostrarTudoButton.innerHTML = algumOculto ?
                'Ocultar <span class="triangulo">▲</span>' :
                'Mostrar tudo <span class="triangulo">▼</span>';
        }








</script>









<footer class="footer">
    <div class="footer-content">
        <div class="footer-section about">
            <h3>Sobre nós</h3>
            <p>A Pixel Price oferece as melhores ofertas em jogos digitais! Encontre chaves de jogos para Steam, com os preços mais baixos e promoções atualizadas. Nossa missão é ajudar você a economizar enquanto joga os melhores títulos.</p>
        </div>
        <div class="footer-section links">
            <h3>Links úteis</h3>
            <ul>
                <li><a href="/">Home</a></li>   

                <li><a href="/about">about</a></li>
                <li><a href="/how-work">Como funciona?</a></li>
            </ul>
        </div>
        <div class="footer-section social">
            <h3>Redes sociais</h3>
            <ul>
              <li><a href="https://www.instagram.com/pixel_price_br/">Instagram</a></li>   
              <li> <a href="https://t.me/pixelpricesales">Telegram</a></li>

              <li> <a href="https://www.youtube.com/@Pixel_Price">YouTube</a></li>
                <li><a href="https://www.tiktok.com/@pixel_price_br?_t=ZM-8uhvNLNG4N5&_r=1">Tik Tok</a></li>
            </ul>
        </div>
    </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 Pixel Price | Todos os direitos reservados | Feito por brasileiros 🇧🇷</p>
    </div>
</footer>






</body>
</html>
