<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Jogos - {{ genre_name }}</title>
</head>

<header>
    <h2><a href="/" class="home-button">Gaming Hub</a></h2>

    <div class="botoes-centrais">
     <button id="botao-home-novo" onclick="window.location.href='/'">
        <h2>Home</h2>
     </button>
    


     <div class="dropdown">
        <button class="dropdown-btn">
            Gêneros <span class="triangle">&#9662;</span>
        </button>
        <ul class="dropdown-content">
            {% for genre in genres %}
                <li>
                    <a href="{{ url_for('genre', genre_name=genre) }}">{{ genre }}</a>
                </li>
            {% endfor %}
        </ul>
     </div>

     <button id="how-work" onclick="window.location.href='/how-work'">
        <h2>Como funciona?</h2>
     </button>
    
    
      <button id="about" onclick="window.location.href=href='/about'"><h2>Sobre</h2></button>

    </div>


    <form action="/search" method="get">
        <input type="text" name="query" placeholder="Busque um jogo..." required>
      <button type="submit" class="search-button">Buscar</button>
     </form>


    



</header>

<body>
    <h1> <strong>{{ genre_name }}</strong></h1>

<div class="coisas">

    <div class="games">
        {% if games %}
            {% for game in games %}
                <div class="game-2">
                    <a href="{{ url_for('pagina_jogo', game_id=game['id']) }}">
                        <img src="{{ game.image }}" alt="{{ game.name }} Image" />
                    </a>
                    <h3>{{ game.name }}</h3>
                    <p>Por apenas: <strong>{{ game.lowest_price|format_currency }}</strong></p>
                </div>
            {% endfor %}
        {% else %}
            <p>Não há jogos para este gênero.</p>
        {% endif %}
    </div>



</div>
<footer class="footer">
    <div class="footer-content">
        <div class="footer-section about">
            <h3>Sobre nós</h3>
            <p>O Gaminghub oferece as melhores ofertas em jogos digitais! Encontre chaves de jogos para Steam, com os preços mais baixos e promoções atualizadas. Nossa missão é ajudar você a economizar enquanto joga os melhores títulos.</p>
        </div>
        <div class="footer-section links">
            <h3>Links úteis</h3>
            <ul>
                <li><a href="#">Home</a></li>   

                <li><a href='{{ url_for('about') }}'>sobre</a></li>
                <li><a href='{{ url_for('how_work') }}'>Como funciona?</a></li>
            </ul>
        </div>
        <div class="footer-section social">
            <h3>Redes sociais</h3>
            <ul>
              <li><a href="https://www.instagram.com/gaminghubr/">Instagram</a></li>   
              <li> <a href="https://t.me/gaminghubi">Telegram</a></li>

              <li> <a href="https://www.youtube.com/@Gamehubr">YouTube</a></li>
                <li><a href="https://www.tiktok.com/@mundofeito_0?_t=ZM-8tmTwqs394X&_r=1">Tik Tok</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 GamingHub | Todos os direitos reservados | Feito por brasileiros 🇧🇷</p>
    </div>
</footer>

</body>
</html>
